<!-- wp:template-part {"slug":"header","area":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","className":"qbatura-main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group qbatura-main">
<!-- wp:group {"align":"full","className":"qbatura-hero","backgroundColor":"green-soft","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull qbatura-hero has-green-soft-background-color has-background">
<!-- wp:post-title {"level":1,"className":"qbatura-hero__title"} /-->
<!-- wp:separator {"className":"is-style-qbatura-thick"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-qbatura-thick"/>
<!-- /wp:separator -->
<!-- wp:pattern {"slug":"qbatura/project-filters"} /-->
</div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"full","layout":{"type":"default"}} /-->

<!-- wp:pattern {"slug":"qbatura/projects-grid"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"div"} /-->
