<!-- wp:template-part {"slug":"header","area":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","className":"qbatura-main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group qbatura-main">
<!-- wp:group {"align":"full","className":"qbatura-hero qbatura-project-hero","backgroundColor":"green-soft","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull qbatura-hero qbatura-project-hero has-green-soft-background-color has-background">
<!-- wp:pattern {"slug":"qbatura/project-back"} /-->

<!-- wp:post-featured-image {"aspectRatio":"16/7","sizeSlug":"full","className":"qbatura-project-image qbatura-reveal"} /-->

<!-- wp:group {"className":"qbatura-project-meta","layout":{"type":"default"}} -->
<div class="wp-block-group qbatura-project-meta">
<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group">
<!-- wp:post-title {"level":1,"className":"qbatura-project-title"} /-->
<!-- wp:qbatura/project-meta {"variant":"list"} /-->
</div>
<!-- /wp:group -->

<!-- wp:post-content {"className":"qbatura-content-text","layout":{"type":"default"}} /-->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"full","className":"qbatura-content-gallery qbatura-reveal","layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"div"} /-->
